{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign format = include.format | default: "default" %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if format == "cv" or format == "talk-cv" %}<li>{% endif %}

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{% if teaser contains "://" %}{{ teaser }}{% else %}{{ teaser | prepend: "/images/" | prepend: base_path }}{% endif %}" alt="">
      </div>
    {% endif %}

    {% if format == "cv" or format == "talk-cv" %}
      <h3 class="archive__item-title" itemprop="headline">
    {% else %}
      <h2 class="archive__item-title" itemprop="headline">
    {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    {% if format == "cv" or format == "talk-cv" %}</h3>{% else %}</h2>{% endif %}

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if format == "talk" or format == "talk-cv" %}
      {% if post.date %}<p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>{% endif %}
      {% if post.venue %}
        <p class="archive__item-excerpt" itemprop="description">{% if format == "talk-cv" %}{{ post.type }} at {% endif %}{{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}</p>
      {% endif %}
    {% else %}
      {% if post.collection == 'teaching' %}
        <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
      {% elsif post.venue and post.date %}
        <p>Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
      {% elsif post.date %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Published:</strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
      {% endif %}
    {% endif %}

    {% if format == "cv" %}
      {% if post.venue %}<p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p>{% endif %}
    {% elsif format != "talk" and format != "talk-cv" %}
      {% if post.excerpt and site.read_more != 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% elsif post.excerpt and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p>
      {% endif %}

      {% if post.citation and post.paperurl %}
        <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
      {% elsif post.citation %}
        <p>Recommended citation: {{ post.citation }}</p>
      {% elsif post.paperurl %}
        <p>Download <a href="{{ post.paperurl }}"><u>here</u></a></p>
      {% endif %}
    {% endif %}

    {% if format == "cv" or format == "talk-cv" %}</li>{% endif %}
  </article>
</div>
